<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="102400" executionTimeout="600" />
    <membership defaultProvider="cbMembershipProvider">
      <providers>
        <add 
          connectionStringName="cbConnection" 
          applicationName="crimeBusters" 
          enablePasswordRetrieval="false" 
          enablePasswordReset="true" 
          requiresQuestionAndAnswer="false" 
          requiresUniqueEmail="false" 
          minRequiredPasswordLength="6" 
          minRequiredNonalphanumericCharacters="0" 
          maxInvalidPasswordAttempts="5" 
          name="cbMembershipProvider" 
          type="System.Web.Security.SqlMembershipProvider" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="cbRoleProvider">
      <providers>
        <add 
          name="cbRoleProvider" 
          type="System.Web.Security.SqlRoleProvider" 
          connectionStringName="cbConnection" 
          applicationName="crimeBusters"/>
      </providers>
    </roleManager>
    <authentication mode="Forms">
      <forms timeout="1440" />
    </authentication>
  </system.web>
  <connectionStrings>
    <add
      name="cbConnection"
      connectionString="Integrated Security=SSPI;Initial Catalog=CrimeBuster;Data Source=.\SQLEXPRESS2012;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="admin@illinoiscrimebusters.com">
        <network 
          host="mail.illinoiscrimebusters.com" 
          userName="admin@illinoiscrimebusters.com" 
          password="buster853" 
          port="26" /> <!--if the port does not work, use 993-->
      </smtp>
    </mailSettings>
  </system.net>  
  <location path="Index.aspx">
    <system.web>
      <authorization>
        <allow roles="Police" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
   </system.web.extensions>
</configuration>