<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
      name="microsoft.visualstudio.testtools"
      type="Microsoft.VisualStudio.TestTools.UnitTesting.TestConfigurationSection, Microsoft.VisualStudio.QualityTools.UnitTestFramework, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <system.web>
    <membership defaultProvider="cbMembershipProvider">
      <providers>
        <add
          connectionStringName="cbConnection"
          applicationName="crimeBusters"
          enablePasswordRetrieval="false"
          enablePasswordReset="true"
          requiresQuestionAndAnswer="false"
          requiresUniqueEmail="false"
          minRequiredPasswordLength="6"
          minRequiredNonalphanumericCharacters="0"
          maxInvalidPasswordAttempts="5"
          name="cbMembershipProvider"
          type="System.Web.Security.SqlMembershipProvider" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="cbRoleProvider">
      <providers>
        <add
          name="cbRoleProvider"
          type="System.Web.Security.SqlRoleProvider"
          connectionStringName="cbConnection"
          applicationName="crimeBusters"/>
      </providers>
    </roleManager>
    <authentication mode="Forms"></authentication>
  </system.web>
  <connectionStrings>
    <add 
      name="cbConnection" 
      connectionString="Integrated Security=SSPI;Initial Catalog=CrimeBuster;Data Source=.\SQLEXPRESS2012;" 
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="admin@illinoiscrimebusters.com">
        <network
          host="mail.illinoiscrimebusters.com"
          userName="admin@illinoiscrimebusters.com"
          password="buster853"
          port="26" />
        <!--if the port does not work, use 993-->
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add
      key="ContentRoot" value="C:\Users\Jesus\Documents\Visual Studio 2013\Projects\CrimeBusters\CrimeBusters.WebApp" />
  </appSettings>
</configuration>